<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Other Vehicles</title>
{% extends 'store_information/base.html' %}
{% load static %}
<body>
{% block conntent %}
    <header class="H1">
         <image class="logo" src="{% static '/media/main-logo.png' %}"></image>

        <div class="search-nav-bar">
            <form action="{% url 'search_results' %}" method="get">
                <input name="q" type="text" placeholder="Search...">

             </form>
        </div>
        {% if request.user.is_authenticated %}
            <div class="nav-tab">
                <div class="sml-search">
                    <a href="{% url 'mobile' %}"><i class="fas fa-search"></i></a>
                </div>
                <div class="user"onclick="window.location.href='{% url 'account:profile' %}';">
                    <img src="{{ request.user.profile_pic.url }}" alt="">
                </div>
             </div>
            <div class="sml-nav">
                <div class="sml-search">
                    <a href="{% url 'mobile' %}"><i class="fas fa-search"></i></a>
                </div>
                <div class="sml-nav-2">
                    <button class="mobile-toggle"
                        aria-controls="pry-nav" aria-expanded="false">
                        <span class="sr-only">Menu</span>
                    </button>
                    <nav>
                        <ul id="pry-nav" data-visible="false" class="pry-nav">
                            <div class="profile-acc">
                                <img src="{{ request.user.profile_pic.url }}" alt="">
                                <div class="profile-acc-details">
                                    <h2><span><i class="fas fa-user"></i></span>{{ request.user.username }}</h2>
                                    <a href="{% url 'account:profile' %}">My Dashboard</a>
                                </div>
                            </div>
                            <li><a href="{% url 'store_information:index' %}"><span><i class="fas fa-home"></i></span> Home</a></li>
                            <li><a href="{% url 'store_information:gallery' %}"><span><i class="fas fa-image"></i></span> Gallery</a></li>
                            <li><a href="{% url 'store_information:about_us' %}"><span><i class="fas fa-users"></i></span> About Us</a></li>
                            <li><a href="{% url 'store_information:estores' %}"><span><i class="fas fa-store"></i></span> E Stores</a></li>
                            <li><a href="{% url 'store_information:hotdeals' %}"><span> <i class="fas fa-percent"></i></span> Hot Deals</a></li>
                            <li><a href="{% url 'account:logout' %}"><span> <i class="fas fa-sign-out-alt"></i></span> Log Out</a></li>
                         </ul>
                    </nav>
                </div>
            </div>
        {% else %}
            <a href="{% url 'account:login' %}" class="btn">Sign In</a>
        {% endif %}
    </header>

    <header class="H2-container">

        <nav class="nav-bar-bar">

            <ul>

                <li><a href="{% url 'store_information:index' %}">Home</a></li>
                <li><a href="{% url 'store_information:about_us' %}">About Us</a></li>
                <li><a href="{% url 'store_information:gallery' %}">Gallery</a></li>
                <li><a href="{% url 'store_information:estores' %}">E Store</a></li>
                <li><a href="{% url 'store_information:hotdeals' %}">Hot Deals</a></li>

            </ul>
        </nav>
    </header>


  <section class="container">
        <h1>#GALLERY</h1>
        <p>Look at the products offered by our vendors<br>at the comfort of your own home</p>
    </section>



 <section id="product1" class="featured">

        <div class="pro-container">
            {% for item in other_vehicles %}
            <div class="pro">

                    <img src="{{ item.image1.url }}">


                <div class="label">
                    <h3>{{ item.product_name }}</h3>
                    <h2>{{ item.price }}</h2>
                    <a href="{% url 'store_information:gallerie' item.id %}"><span  class="add-wishlist"><i class="fas fa-cart-plus"></i></span></a>
                    <div class="Location">
                        <i class="fas fa-map-marker-alt">{{ item.location }}</i>
                    </div>
                </div>

            </div>
            {% empty %}
                <li>No items have been added yet.</li>
            {% endfor %}

        </div>


    </section>



    <footer class="featured">
        <div class="col">
            <img class="logor" src="{% static 'media/main-logo.png' %}" alt="">
            <h3>Contact</h3>
            <p><strong>WhatsApp :</strong> +263 77 684 2894</p>
            <p><strong>Phone : </strong>  +263 77 635 0319 </p>
            <div class="follow">
                <h3>Follow Us</h3>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h3>About</h3>
            <a href="{% url 'store_information:about_us' %}">About Us</a>
            <a href="{% url 'store_information:terms_conditions' %}">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="col">
            <h3>My Account</h3>
            <a href="{% url 'account:profile' %}">Sign In</a>
            <a href="{% url 'store_information:wishlist' %}">My Wishlist</a>
            <a href="{% url 'store_information:about_us' %}">Help</a>
        </div>

        <div class="col install">
            <h3>Install Our App</h3>
            <p>For easier access of our content</p>
            <div class="row">
                <!-- This is the buttons for downoloading our app-->
            </div>
            <p>Secured Payment Gateways</p>
            <div class="row">
                <!-- Payment gateways i.e Ecocash -->
            </div>
        </div>


        <section class="line">
            <p>Copyright 2022 @SquareMarket. All rights reserved.</p>
        </section>

    </footer>
{% endblock conntent %}

</body>
</html>